{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/8491653/500x500) no-repeat center center / cover"></section>
        <section class="details">
            <div class="item">
                <div>Nome Completo</div>
                <div>Reny Grando</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>30</div>
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>Bacharel em Adm de empresas</div>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <div>Ensino à distância</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <span>Matemática</span>
                <span>Física</span>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>2019</div>
            </div>
        </section>
    </div>

{% endblock content %}