header {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #FFF;
    border-bottom: 5px solid var(--secondary-color);
}

.links {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.links a {
    color: var(--primary-color);
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--secondary-color);
}

.links a+a {
    margin-left: 30px;
}

.links a:hover {
    color: var(--secondary-color);
    font-weight: bold;
    transition: 300ms;
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 400ms ease-in-out;
}

/*===Card dos professores===*/
.card {
    background-color: white;
    border-radius: 16px;
    width: 800px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 50px auto;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    animation: mycard 400ms ease-in;
}
.card .avatar {
    border-radius: 16px 0 0 16px;
    box-shadow: 9px 0px 9px 0px rgba(0, 0, 0, 0.2);
}
h3 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #555;
}
.details {
    padding: 30px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}

.details .item:last-child {
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px
}

.details .item span,
.item-matter {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

@keyframes mycard {
    from {
        opacity: 0;
        transform: translateY(15px)
    }

    to {
        opacity: 1;
    }
}

/*===FORMULARIO DE CADASTRO===*/
input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
}

input::placeholder {
    font-size: 14px;
    font-weight: normal;
    color: #777
}

input[type="radio"] {
    width: initial;
    margin-right: 8px;
}

select {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFF;
    width: 100%;
    margin-top: 8px;
}

a.button,
button[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

a.button {
    display: block;
    text-align: center;
}

a.button:hover,
button:hover {
    background-color: var(--primary-color);
}

/* BUTTON DELETAR */
#form-delete button[type="submit"] {
    background-color: coral;
}
#form-delete button[type="submit"]:hover {
    background-color: rgb(238, 86, 31);
}

/* TABELA DE PROFESSORES E ALUNOS */

.table-container {
    padding: 30px;
    display: block;
}
.table-container table {
    border-spacing: 0;
} 
.table-container thead tr th {
    text-align: left;
}
th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}
td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}
tbody tr:last-child td {
    border-bottom: none;
}
tbody tr td:first-child {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
tbody tr td:first-child span {
    width: 56px;
    height: 56px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}
tbody td:last-child a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    border-radius: 6px;
}
.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}
.create-new-data {
    padding: 0 0 20px 15px;
}
.create-new-data a {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
}