{% extends "layout.njk" %}

{% block content %}

    <form class="card" action="/teachers" method="POST">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/8491653/500x500) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Novo Cadastro - Professor</h3>

            {% include "teachers/fields.njk"%}

            <div class="item">
                <div>
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </section>
    </form>

{% endblock content %}